<footer class="footer">
  <div class="footer_container">
    <section>
      <h2 class="footer_title">Sobre</h2>
      <p class="footer_about-text">Este E-commerce fictício tem como objetivo praticar o aprendizado de angular.
        Projeto do Programa Start by <i>Capgemini</i>
      </p>
    </section>
    <address>
      <h2 class="footer_title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> Email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (95) 91234-1234</li>
        <li><i class="fa-brands fa-whatsapp"></i> (95) 91234-1234</li>
      </ul>
    </address>
  </div>
  <section class="footer_copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
